<form action="/admin/postAddProduct" method="post">
    <input type="hidden" name="product" value="<%= product %>">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn" type="submit">Add to Favorites</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>