<form action="/admin/postAddProduct" method="post">
    <%    console.log(product.placeId); %>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn" type="submit">Add to Favorites</button>
    <input type="hidden" name="name" value="<%= product.name %>">
    <input type="hidden" name="placeID" value="<%= product.placeId%>">
</form>