<%- include('../includes/head.ejs') %>
<script src="js/apicall.js"></script>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main id="main">

            </main>
            <%- include('../includes/end.ejs') %>